* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
}

/* VECNA SHADOW HAND BACKGROUND */
.vecna-bg {
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at center, rgba(255,0,0,0.4), black 70%),
    url("https://i.imgur.com/Z5KXzqM.png");
  background-size: cover;
  background-position: center;
  animation: breathe 8s infinite alternate;
  z-index: -1;
}

@keyframes breathe {
  0% { filter: brightness(0.6); }
  100% { filter: brightness(1); }
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tagline {
  margin-top: 10px;
  letter-spacing: 3px;
  color: #ff4d4d;
}

/* GLITCH TITLE */
.glitch {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  position: relative;
  color: white;
  text-shadow: 0 0 25px red;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
}

.glitch::before {
  color: red;
  animation: glitch1 2s infinite;
}

.glitch::after {
  color: #ff9999;
  animation: glitch2 2s infinite;
}

@keyframes glitch1 {
  0% { transform: translate(2px,-2px); }
  50% { transform: translate(-2px,2px); }
  100% { transform: translate(0); }
}

@keyframes glitch2 {
  0% { transform: translate(-2px,2px); }
  50% { transform: translate(2px,-2px); }
  100% { transform: translate(0); }
}

/* REGISTER */
.register-btn {
  margin-top: 30px;
  padding: 15px 40px;
  border: 2px solid red;
  color: rgb(0, 255, 179);
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: 0 0 25px red;
  transition: 0.4s;
}

.register-btn:hover {
  background: red;
  color: black;
  box-shadow: 0 0 60px red;
}

/* RULES */
.rules {
  padding: 80px 20px;
  max-width: 800px;
  margin: auto;
  background: rgba(0,0,0,0.75);
  border-left: 4px solid red;
}

.rules h2 {
  text-align: center;
  color: red;
  margin-bottom: 30px;
}

.rules li {
  list-style: none;
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(255,0,0,0.1);
  border-left: 3px solid red;
}

/* CONTACT */
.contact {
  padding: 70px 20px;
  text-align: center;
}

.contact h2 {
  color: red;
  margin-bottom: 30px;
}

.contact-box {
  display: inline-block;
  margin: 15px;
  padding: 20px 30px;
  background: rgba(0,0,0,0.7);
  border: 2px solid red;
  box-shadow: 0 0 25px red;
  transition: 0.3s;
}

.contact-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 45px red;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: #ff4d4d;
  letter-spacing: 2px;
}